<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5435/qilletni</property>
        <property name="hibernate.connection.username">qilletni</property>
        <property name="hibernate.connection.password">pass</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL81Dialect</property>
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.enable_lazy_load_no_trans">true</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="dev.entities.spotify.music.qilletni.SpotifyAlbum"/>
        <mapping class="dev.entities.spotify.music.qilletni.SpotifyArtist"/>
        <mapping class="dev.entities.spotify.music.qilletni.SpotifyPlaylist"/>
        <mapping class="dev.entities.spotify.music.qilletni.SpotifyPlaylistIndex"/>
        <mapping class="dev.entities.spotify.music.qilletni.SpotifyTrack"/>
        <mapping class="dev.entities.spotify.music.qilletni.SpotifyUser"/>

    </session-factory>
</hibernate-configuration>
